.header__logo {
  max-width: 142px;
  max-height: 33px;
  padding-left: min(27px, max(calc(907px - 100vw), 0px));
}

@media screen and (max-width: 450px) {
  .header__logo {
    max-width: 104px;
    max-height: 25px;
  }
}
