.profile__name {
  margin: 0;
  padding-left: 10px;
  font-weight: 500;
  font-size: min(42px, 4.5vw);
  line-height: 1.14;
  grid-area: name;
  align-self: end;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 620px) {
  .profile__name {
    padding-top: 28px;
    padding-left: 0;
    font-size: 29px;
  }
}

@media screen and (max-width: 450px) {
  .profile__name {
    max-width: 100%;
    margin-left: 23px;
    font-size: 27px;
    justify-self: end;
  }
}
