.popup__input {
  margin-top: 30px;
  padding-bottom: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-size: 14px;
  line-height: 1.21;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.popup__input:focus {
  border-bottom: 1px solid #000;
  outline: none;
}
