.gallery__like-button {
  min-width: 22px;
  aspect-ratio: 22 / 19;
  background: url('../../../images/like.svg') center / cover no-repeat;
  border: none;
  transition: opacity .4s;
  cursor: pointer;
}

.gallery__like-button:hover {
  opacity: .5;
}
